@define-color LIME #a6e3a1;
@define-color STRAWBERRY #FF3040;
@define-color BLUEBERRY #89b4fa;
@define-color BANANA  #f9e2af;
@define-color ORANGE  #fab387;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @theme_fg_color;
}

tooltip {
    background: @theme_bg_color;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

#workspaces button {
    padding: 5px;
    margin-right: 5px;
    color: mix(@theme_fg_color,@theme_bg_color,0.5);
    border-radius: 10px;
}

#workspaces button.active {
    color: @theme_fg_color;
}

#workspaces button.focused {
    color: @theme_fg_color;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @theme_fg_color;
    color: @theme_bg_color;
}

#custom-power_profile,
#custom-weather,
#custom-playerctl,
#custom-cava,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#custom-powermenu,
#custom-wofi,
#backlight {
    background: @theme_bg_color;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: none;
}

#temperature {
    border-radius: 10px 0px 0px 10px;
}

#temperature.critical {
    color: #eba0ac;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-cava {
    color: mix(@LIME, @theme_fg_color, 0.5);
}

#custom-cava, #custom-playerctl{
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

#custom-power_profile {
    color: mix(@LIME, @theme_fg_color, 0.5);
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: mix(@ORANGE, @theme_fg_color, 0.3);
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
    border-right: 0px;
}
#custom-powermenu,
#custom-wofi {
    border-radius: 10px;
    margin-left: 10px;
    color: mix(@BLUEBERRY, @theme_fg_color, 0.6);
}
#custom-powermenu {
    margin-right: 10px;
}
#network {
    color: mix(@BANANA, @theme_fg_color, 0.4);
    border-radius: 0px 0px 0px 0px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: mix(@BLUEBERRY, @theme_fg_color, 0.3);
    border-radius: 0px 10px 10px 0px;
    margin-right: 0px
} 

#pulseaudio {
    color: mix(@BLUEBERRY, @theme_fg_color, 0.9);
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio.microphone {
    color: mix(@STRAWBERRY, @theme_fg_color, 0.5);
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#battery {
    color: mix(@LIME, @theme_fg_color, 0.5);
    border-radius: 10px 0px 0px 10px;
    margin-right: 0px;
    border-left: 10px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
