@define-color LIME #a6e3a1;
@define-color STRAWBERRY #FF3040;
@define-color BLUEBERRY #89b4fa;
@define-color BANANA #f9e2af;
@define-color ORANGE #fab387;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: @theme_bg_color;
    color: @theme_fg_color;
    border-radius: 10px;
    padding: 10px;
}

tooltip {
    background: @theme_bg_color;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: @theme_fg_color;
    color: @theme_fg_color;
}

#workspaces button {
    margin-right: 0px;
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
    border-radius: 10px;
}

#workspaces button.active {
    color: @theme_fg_color;
}

#workspaces button.focused {
    color: @theme_fg_color;
}

#workspaces button.urgent {
    color: @theme_fg_color;
    background: @LIME;
}

#workspaces button:hover {
    background: @theme_fg_color;
    color: @theme_bg_color;
}

#custom-power_profile,
#custom-weather,
#custom-playerctl,
#custom-cava,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#custom-arch,
#language,
#backlight {
    background: @theme_bg_color;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
}

.modules-left>*>* {
    margin-left: 10px;
}

.modules-right>*>* {
    margin-right: 10px;
}

.modules-center {
    margin-left: 40px;
    margin-right: 40px;
}

#temperature {
    margin-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

#temperature.critical {
    color: @STRAWBERRY;
}

#backlight {
    color: mix(@BANANA, @theme_fg_color, 0.5);
    margin-right: 0px;
    border-radius: 0px;
}

#tray {}

#workspaces {
    padding: 0px;
}

#custom-cava {
    color: mix(@LIME, @theme_fg_color, 0.5);
}

#custom-power_profile {
    color: mix(@LIME, @theme_fg_color, 0.5);
}

#window {
    border-radius: 10px;
    color: @theme_fg_color;
}

#clock {
    color: mix(@ORANGE, @theme_fg_color, 0.3);
    border-radius: 10px;
}

#custom-arch {
    margin-left: 0px;
    border-radius: 10px;
    color: mix(@BLUEBERRY, @theme_fg_color, 0.6);
}

#network {
    color: mix(@BANANA, @theme_fg_color, 0.4);
    border-radius: 0px;
    border-right: 0px;
    margin-right: 0px;
}

#bluetooth {
    color: mix(@BLUEBERRY, @theme_fg_color, 0.3);
    border-radius: 0px 10px 10px 0px;
    margin-right: 0px
}

#pulseaudio:not(.microphone) {
    color: mix(@BANANA, @theme_fg_color, 0.5);
    border-radius: 10px 0px 0px 10px;
    margin-right: 0px;
}

#pulseaudio.microphone {
    color: mix(@LIME, @theme_fg_color, 0.5);
    border-radius: 0px 10px 10px 0px;
}

#pulseaudio.bluetooth:not(.microphone) {
    color: mix(@BLUEBERRY, @theme_fg_color, 0.5);
}

#pulseaudio.muted:not(.microphone) {
    color: mix(@STRAWBERRY, @theme_fg_color, 0.5);
}

#pulseaudio.microphone.source-muted {
    color: mix(@STRAWBERRY, @theme_fg_color, 0.5);
}

#battery {
    color: mix(@LIME, @theme_fg_color, 0.5);
    border-radius: 10px 0px 0px 10px;
    margin-right: 0px;
}

#custom-weather {
    color: mix(@ORANGE, @theme_fg_color, 0.5);
    border-radius: 0px 10px 10px 0px;
    margin-left: 0px;
}
