@define-color background #1e1e2e;
@define-color highlight #11111b;

window {
  opacity: 0.9;
  font-family: "jetbrains mono nerd font";
  border-radius: 20px;
  background-color: @background;
}
#input {
  border-radius: 10px;
  font-size: 22px;
  padding: 5px 10px;
  margin: 0 0 10px 0;
  background-color: @highlight;
}
#inner-box {
  
}
#outer-box {
  padding: 10px;
}
#entry {
  border-radius: 10px;
  padding: 10px;
}
#entry:selected {
  border: none;
  padding: 10px;
  background-color: @highlight;
}
#text {
  padding-left: 10px;
}
#selected {
  background-color: @highlight;
}
