@define-color LIME #a6e3a1;
@define-color STRAWBERRY #FF3040;
@define-color BLUEBERRY #89b4fa;
@define-color BANANA  #f9e2af;
@define-color ORANGE  #fab387;

* {
  font-family: "JetBrainsMono Nerd Font";
	background-image: none;
}
window {
	background-color: mix(@theme_bg_color, rgba(0, 0, 0, 0.7), 0.5);
}
button {
	border-radius: 20px;
  opacity: 0.7;
  margin: 10px;
  border-bottom: 5px solid;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
  font-size: 2000%;
}

#lock {
    border-color: mix(@theme_fg_color, @BLUEBERRY, .9);
    color: mix(@theme_fg_color, @BLUEBERRY, .9);
}

#logout {
    border-color: mix(@theme_fg_color, @BANANA, .9);
    color: mix(@theme_fg_color, @BANANA, .9);
}

#suspend {
    border-color: mix(@theme_fg_color, @ORANGE, .9);
    color: mix(@theme_fg_color, @ORANGE, .9);
}

#hibernate {
    border-color: mix(@theme_fg_color, @LIME, .9);
    color: mix(@theme_fg_color, @LIME, .9);
}

#shutdown {
    border-color: mix(@theme_fg_color, @STRAWBERRY, .9);
    color: mix(@theme_fg_color, @STRAWBERRY, .9);

}

#reboot {
    border-color: mix(@theme_fg_color, @BLUEBERRY, .9);
    color: mix(@theme_fg_color, @BLUEBERRY, .9);
}

button:focus, button:active, button:hover {
	background-color: mix(@theme_bg_color, @theme_fg_color, .5);
	outline-style: none;
}
