* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  color: @theme_fg_color;
}
.control-center {
  background: mix(@theme_bg_color, transparent, 0.1);
  border-radius: 10px;
}
.text-button {
  border: none;
  border-radius: 10px;
  background-color: mix(@theme_selected_bg_color, @theme_bg_color, 0.8);
  color: @theme_fg_color;
}
.text-button:hover {
  background-color: mix(@theme_selected_bg_color, @theme_fg_color, 0.5);
}
.text-button:hover * {
  color: @theme_bg_color;
}

.control-center-dnd {
  background-color: mix(@theme_selected_bg_color, @theme_bg_color, 0.8);
}
.control-center-dnd:checked {
  background-color: mix(@theme_selected_bg_color, @theme_fg_color, 0.5);
}

.notification-background, .activatable.notification-row:hover, .activatable.notification-row:focus {
  background: none;
}
.activatable.notification-row:hover .notification {
  border: 2px solid @theme_selected_bg_color;
}

.notification {
  border: 2px solid @theme_selected_bg_color;
  box-shadow: none;
  padding: 5px 5px 10px 5px;
  background: mix(@theme_bg_color, transparent, 0.1);
}
.notification .text-button {
  margin: 0 5px 0 5px;
}
.notification .notification-default-action {
  border: none;
  background: transparent;
}
