<div id="modal-widget">
    <div id="window-background"></div>
    <div class="widget" id="window"><div id="content"></div></div>
</div>
<div class="widget" id="welcome-widget">
    <div id="user">
        <button alt="pfp" id="pfp"></button>
        <div id="text">
            <h1 class="gradient-text" id="username"></h1>
            <small><span class="material-symbols-outlined">computer</span><span id="hostname"></span><a id="info">System info</a></small>
        </div>
    </div>
    <div id="menu">
        <button id="save-button" style="float: right bottom;">Save</button>
    </div>
</div>