<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyprdash</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/svg+xml">
</head>
<body>
    <section id="widget-container">
        <div id="modal-widget">
            <div id="window-background"></div>
            <div class="widget" id="window"><div id="content"></div></div>
        </div>
        <div class="widget" id="welcome-widget">
            <div id="user">
                <button alt="pfp" id="pfp"></button>
                <div id="text">
                    <h1 class="gradient-text" id="username"></h1>
                    <small><span class="material-symbols-outlined">computer</span><span id="hostname"></span><a id="info">System info</a></small>
                </div>
            </div>
            <div id="menu">
                <button id="save-button" style="float: right bottom;">Save</button>
            </div>
        </div>

        <section class="form" id="gaps">
            <h1>Gaps</h1>
            <section class="form-widget-container">
                <div class="range form-widget" id="general:gaps_in" title="Gaps in" data="0,20,1"></div>
                <div class="range form-widget" id="general:gaps_out" title="Gaps out" data="0,20,1"></div>
                <div class="range form-widget" id="general:gaps_workspaces" title="Gaps between workspaces" data="0,20,1"></div>
            </section>
        </section>

        <section class="form" id="border">
            <h1>Borders</h1>
            <section class="form-widget-container">
                <div class="range form-widget" id="general:border_size" title="Border Size" data="0,5,1"></div>
                <div class="bool form-widget" id="general:no_border_on_floating" title="No border on floating windows"></div>
                <div class="color form-widget" id="general:col.inactive_border" title="Inactive window border color" data="multiple"></div>
                <div class="color form-widget" id="general:col.active_border" title="Active window border color" data="multiple"></div>
                <div class="color form-widget" id="general:col.nogroup_border" title="Inactive ungroupeable window color" data="multiple"></div>
                <div class="color form-widget" id="general:col.nogroup_border_active" title="Active ungroupeable window color" data="multiple"></div>
                <div class="bool form-widget" id="general:resize_on_border" title="Resize window by dragging border"></div>
                <div class="range form-widget" id="general:extend_border_grab_area" title="Border grap area" data="0,30,1"></div>
                <div class="bool form-widget" id="general:hover_icon_on_border" title="Border hover mouse icon"></div>
                <div class="color form-widget" id="group:col.border_active" title="Active group border"></div>
                <div class="color form-widget" id="group:col.border_inactive" title="Inactive group border"></div>
                <div class="color form-widget" id="group:col.border_locked_active" title="Locked active group border"></div>
                <div class="color form-widget" id="group:col.border_locked_inactive" title="Locked inactive group border"></div>
            </section>
        </section>

        <section class="form" id="blur">
            <h1>Blur</h1>
            <section class="form-widget-container">
                <div class="bool form-widget" id="decoration:blur:enabled" title="Enable blur"></div>
                <div class="range form-widget" id="decoration:blur:size" title="Size of blur" data="0,12,1"></div>
                <div class="range form-widget" id="decoration:blur:passes" title="Blur passes" data="0,5,1"></div>
                <div class="bool form-widget" id="decoration:blur:ignore_opacity" title="Ignore opacity"></div>
                <div class="bool form-widget" id="decoration:blur:new_optimizations" title="New optimizations"></div>
                <div class="bool form-widget" id="decoration:blur:xray" title="Xray"></div>
                <div class="range form-widget" id="decoration:blur:noise" title="Noise" data="0.0000,1.0000,0.0001"></div>
                <div class="range form-widget" id="decoration:blur:contrast" title="Contrast" data="0.0000,1.0000,0.0001"></div>
                <div class="range form-widget" id="decoration:blur:brightness" title="Brightness" data="0.0000,1.0000,0.0001"></div>
                <div class="range form-widget" id="decoration:blur:vibrancy" title="Vibrancy" data="0.0000,1.0000,0.0001"></div>
                <div class="range form-widget" id="decoration:blur:vibrancy_darkness" title="Vibrancy in darkness" data="0.0000,1.0000,0.0001"></div>
                <div class="bool form-widget" id="decoration:blur:special" title="Apply on special workspaces (expensive)"></div>
                <div class="bool form-widget" id="decoration:blur:popups" title="Apply on popups"></div>
                <div class="range form-widget" id="decoration:blur:popups_ignorealpha" title="Apply blur from alpha value" data="0.0,1.0,0.1"></div>
                <div class="entry form-widget" id="decoration:blur:blurls" title="Additional GTK layer to be blur"></div>
            </section>
        </section>
        
        <section class="form" id="keyboard">
            <h1>Keyboard</h1>
            <section class="form-widget-container">
                <div class="entry form-widget" id="input:kb_model" title="XKB model"></div>
                <div class="entry form-widget" id="input:kb_layout" title="XKB layout"></div>
                <div class="entry form-widget" id="input:kb_variant" title="XKB variant"></div>
                <div class="entry form-widget" id="input:kb_options" title="XKB options"></div>
                <div class="entry form-widget" id="input:kb_rules" title="XKB rules"></div>
                <div class="bool form-widget" id="input:numlock_by_default" title="Numlock by default"></div>
                <div class="bool form-widget" id="input:resolve_binds_by_sym" title="Resolve binds by symbol"></div>
                <div class="range form-widget" id="input:repeat_rate" title="Key repeat rate (per second)" data="1,30,1"></div>
                <div class="range form-widget" id="input:repeat_delay" title="Key repeat delay (milliseconds)" data="100,1000,10"></div>
            </section>
        </section>

        <section class="form" id="cursor">
            <h1>Cursor</h1>
            <section class="form-widget-container">
                <div class="range form-widget" id="input:sensitivity" title="Sensitivity" data="-1.0,1.0,0.1"></div>
                <div class="select form-widget" id="input:accel_profile" title="Acceleration profile" data="Device default|,Adaptive|adaptive,Flat|flat"></div>
                <div class="bool form-widget" id="input:force_no_accel" title="Force no acceleration"></div>
                <div class="bool form-widget" id="input:left_handed" title="Left handed"></div>
                <div class="select form-widget" id="input:follow_mouse" title="Follow mouse mode" data="Don't follow mouse|0,Focus and keyboard follows mouse|1,Focus follows mouse and clicking moves keyboard|2,Focus follows mouse and keyboard is separated|3"></div>
                <div class="bool form-widget" id="input:mouse_refocus" title="Mouse refocus"></div>
                <div class="select form-widget" id="input:float_switch_override_focus" title="Move cursor when switching window mode" data="Disabled|0,Tiled-to-float|1,Float-to-float|2"></div>
                <div class="bool form-widget" id="input:special_fallthrough" title="Special fallthrough focus"></div>
            </section>
        </section>

        <section class="form" id="mouse">
            <h1>Mouse</h1>
            <section class="form-widget-container">
                <div class="bool form-widget" id="input:natural_scroll" title="Natural scroll"></div>
                <div class="range form-widget" id="input:scroll_factor" title="Scroll factor" data="0.1,2.0,0.1"></div>
            </section>
        </section>

        <section class="form" id="touchpad">
            <h1>Touchpad</h1>
            <section class="form-widget-container">
                <div class="bool form-widget" id="input:touchpad:disable_while_typing" title="Disable while typing"></div>
                <div class="bool form-widget" id="input:touchpad:natural_scroll" title="Natural scroll"></div>
                <div class="range form-widget" id="input:touchpad:scroll_factor" title="Scroll factor" data="0.1,2.0,0.1"></div>
                <div class="bool form-widget" id="input:touchpad:middle_button_emulation" title="Emulate middle button"></div>
                <div class="select form-widget" id="input:touchpad:tap_button_map" title="Button map" data="Left-Right-Middle|lrm,Left-Middle-Right|lmr"></div>
                <div class="bool form-widget" id="input:touchpad:clickfinger_behavior" title="Tap emulation"></div>
                <div class="bool form-widget" id="input:touchpad:tap-to-click" title="Tap to click"></div>
                <div class="bool form-widget" id="input:touchpad:drag_lock" title="Drag lock"></div>
                <div class="bool form-widget" id="input:touchpad:tap-and-drag" title="Tap and drag"></div>
            </section>
        </section>

        <section class="form" id="touchdevice">
            <h1>Touch Device</h1>
            <section class="form-widget-container">
                <div class="bool form-widget" id="input:touchdevice:enabled" title="Enabled"></div>
                <div class="select form-widget" id="input:touchdevice:transform" title="Transform" data="Normal|0,Rotate 90deg|1,Rotate 180deg|2,Rotate 270deg|3,Flipped|4,Flipped + Rotate 90deg|5,Flipped + Rotate 180deg|6,Flipped + Rotate 270deg|7"></div>
                <div class="select form-widget" id="input:touchdevice:output" title="Output" data="Auto|[[Auto]],{MONITORS}"></div>
            </section>
        </section>
    </section>
</body>
</html>