/* ::root{ */
/*     --accent: #5291e2; */
/*     --dark: #383C4A; */
/*     --light: #7C818C; */
/*     --ld: #404552; */
/*     --dl: #4B5162 */
/*     --white: white; */
/* } */

*{
    font-family: "JetBrains Mono Nerd";
}

window {
    background: transparent;
}

#input {
    border-radius: 10px;
    border: solid 2px #ABB2CE;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #404552;
    color: white;
}

#inner-box {
    background-color: #383C4A;
    
}

#outer-box {
    margin: 5px;
    padding:20px;
    background-color: #383C4A;
    border-radius: 20px;
    border: solid 2px #ABB2CE;
}

#scroll {
}

#text {
padding: 5px;
color: white;
}

#entry:nth-child(even){
    background-color: #404552;
}

#entry {
  border-radius: 10px;
}

#entry:selected {
    background-color: #5291e2;
}

#text:selected {
    background-color: transparent;
}
#img:selected {
    background-color: transparent;
}
